<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Lathe" connectionString="Data Source=THISPC\SQLEXPRESS ;Initial Catalog=lathe;Integrated Security=True"/>

    <!--<add name="Lathe" connectionString="Data Source=NXT-ADMIN1;Initial Catalog=lathe_ssk_2;Integrated Security=True"/>-->
    
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>